@font-face {
  font-family: Intervariable, sans-serif;
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: Merriweather, serif;
  src: url(../fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/bg.jpg) center/cover fixed;
  text-align: center;
  font-family: Merriweather, serif;
  max-width: 1300px;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(17, 17, 17);
  animation: animeBody 1.5s ease forwards;
  animation-delay: 0.2s;
}
@keyframes animeBody {
  to {
    opacity: 0;
  }
}

a,
a:visited {
  color: white;
}

.btn {
  font-family: Intervariable, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  border: 1.5px solid black;
  height: 50px;
  min-width: 120px;
  width: 50%;
  max-width: 140px;
  transition: 0.4s;
}
.btn:hover {
  background: rgb(17, 17, 17);
  color: rgb(243, 243, 243);
  transform: scale(1.1);
}
.btn:active {
  transform: scale(1.2);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

header {
  min-height: 100vh;
  position: relative;
  color: rgb(243, 243, 243);
}
header .titre-header-top {
  min-height: 100vh;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(40px);
  animation: animeHeader 1s forwards;
}
@keyframes animeHeader {
  to {
    opacity: 1;
    transform: translate(0);
  }
}
header .titre-header-top h1 {
  font-family: Intervariable, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 20px;
}
header .titre-header-top p {
  font-size: 0.8rem;
  margin-bottom: 20px;
  font-style: italic;
}
header .titre-header-top svg {
  cursor: pointer;
  border: 2px solid rgb(243, 243, 243);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  font-size: 0.9rem;
  transition: 0.5s;
}
header .titre-header-top svg:hover {
  background: rgb(243, 243, 243);
  fill: rgb(17, 17, 17);
}
header .titre-header-top svg:active {
  transform: scale(1.05);
}
header nav {
  position: absolute;
  background: rgba(255, 255, 255, 0.217);
  width: 85%;
  height: 65px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
header nav .nav-left ul {
  display: flex;
  align-items: center;
  height: 100%;
}
header nav .nav-left ul li {
  font-weight: bold;
  cursor: pointer;
  font-family: Intervariable, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.6rem;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
}
header nav .nav-left ul li:hover {
  background: rgb(243, 243, 243);
  color: rgb(17, 17, 17);
}
header nav .nav-right {
  width: 30%;
}
header nav .nav-right ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav .nav-right ul li {
  margin: 0 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.4s;
}
header nav .nav-right ul li:hover {
  transform: scale(1.2);
}
header nav .nav-right ul li:active {
  transform: scale(1.3);
  color: black;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  header .titre-header-top {
    width: 65%;
  }
  header .titre-header-top h1 {
    font-size: 2rem;
  }
  header .titre-header-top p {
    font-size: 0.7rem;
  }
  header .titre-header-top svg {
    height: 32px;
    width: 32px;
  }
  header nav .nav-right {
    display: none;
  }
}
main {
  background: rgb(243, 243, 243);
  width: 85%;
  margin: 0 auto;
}
main span {
  position: relative;
  display: block;
  color: rgb(105, 105, 105);
  padding: 70px 0;
  font-style: italic;
}
main span::before, main span::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 30%;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(209, 209, 209);
}
main span:after {
  left: 10%;
}
main span::before {
  right: 10%;
}
main .box-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 70px;
}
main .box-top img {
  display: block;
  width: 80%;
  margin: 30px auto;
}
main .box-top h1 {
  font-family: Intervariable, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 3rem;
  width: 65%;
  margin: 0 auto;
}
main .box-top p {
  font-style: italic;
  color: rgb(105, 105, 105);
  width: 65%;
  margin: 0 auto;
  padding-bottom: 20px 0;
}
main .box-top .btn {
  margin: 20px 0;
}
main .box-bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 70px 0;
}
main .box-bottom .box-bottom-left p {
  display: block;
  font-style: italic;
  color: rgb(105, 105, 105);
  margin: 15px auto;
  width: 70%;
}
main .box-bottom .box-bottom-left h3 {
  display: block;
  margin: 10px auto;
  font-family: Intervariable, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 65%;
}
main .box-bottom .box-bottom-left img {
  width: 70%;
  margin: 10px auto;
}
main .box-bottom .box-bottom-left .paragraphe {
  font-style: none;
}
main .box-bottom .box-bottom-right p {
  display: block;
  font-style: italic;
  color: rgb(105, 105, 105);
  margin: 15px auto;
  width: 70%;
}
main .box-bottom .box-bottom-right h3 {
  display: block;
  margin: 10px auto;
  font-family: Intervariable, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 65%;
}
main .box-bottom .box-bottom-right img {
  width: 70%;
  margin: 10px auto;
}
main .box-bottom .box-bottom-right .paragraphe {
  font-style: none;
}

@media screen and (max-width: 600px) {
  main span::before {
    right: 5%;
  }
  main span::after {
    left: 5%;
  }
  main .box-top h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  main .box-top p {
    font-size: 0.8rem;
  }
  main .box-bottom {
    display: block;
  }
  main .box-bottom-left {
    padding-bottom: 70px;
  }
  main .box-bottom-right {
    border-top: 1px solid rgb(233, 233, 233);
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
footer {
  background: rgb(233, 233, 233);
  width: 85%;
  min-height: 550px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "l1" "name" "l2" "email" "l3" "message" "btn";
}
footer form #l1 {
  grid-area: l1;
  text-align: left;
  font-family: Intervariable, sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(105, 105, 105);
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 10px;
}
footer form #name {
  display: block;
  background: rgb(233, 233, 233);
  border: 1px solid rgb(209, 209, 209);
  outline: none;
  height: 40px;
  margin-top: 10px;
  width: 90%;
  padding: 5px;
}
footer form #name:focus {
  background: white;
  color: rgb(105, 105, 105);
}
footer form #l2 {
  grid-area: l2;
  text-align: left;
  font-family: Intervariable, sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(105, 105, 105);
  margin-left: 20px;
  padding-top: 10px;
}
footer form #email {
  grid-area: email;
  display: block;
  background: rgb(233, 233, 233);
  border: 1px solid rgb(209, 209, 209);
  outline: none;
  height: 40px;
  margin-top: 10px;
  width: 90%;
  padding: 5px;
}
footer form #l3 {
  text-align: left;
  font-family: Intervariable, sans-serif;
  font-size: 0.9rem;
  grid-area: l3;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(105, 105, 105);
  margin-left: 20px;
  padding-top: 10px;
}
footer form #message {
  grid-area: message;
  resize: none;
  height: 200px;
  width: 90%;
  margin-top: 10px;
  outline: none;
  padding: 5px;
  background: rgb(233, 233, 233);
  border: 1px solid rgb(209, 209, 209);
}
footer form #message:focus {
  background: white;
  color: rgb(105, 105, 105);
}
footer form #btn {
  grid-area: btn;
  margin-top: 40px;
  margin-left: 20px;
}
footer .contact {
  display: grid;
  border-left: 1px solid rgb(209, 209, 209);
}
footer .contact .box-footer-one {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid rgb(209, 209, 209);
}
footer .contact .box-footer-one h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  font-family: Intervariable, sans-serif;
  color: rgb(105, 105, 105);
}
footer .contact .box-footer-one p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Merriweather, serif;
  color: rgb(105, 105, 105);
}
footer .contact .box-footer-two {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid rgb(209, 209, 209);
}
footer .contact .box-footer-two h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  font-family: Intervariable, sans-serif;
  color: rgb(105, 105, 105);
}
footer .contact .box-footer-two p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Merriweather, serif;
  color: rgb(105, 105, 105);
}
footer .contact .box-footer-three {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid rgb(209, 209, 209);
}
footer .contact .box-footer-three h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  font-family: Intervariable, sans-serif;
  color: rgb(105, 105, 105);
}
footer .contact .box-footer-three p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Merriweather, serif;
  color: rgb(105, 105, 105);
}
footer .contact .box-footer-four {
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .contact .box-footer-four h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  font-family: Intervariable, sans-serif;
  color: rgb(105, 105, 105);
}
footer .contact .box-footer-four ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}
footer .contact .box-footer-four ul i {
  cursor: pointer;
  color: rgb(17, 17, 17);
  transition: 0.5s;
  width: 100%;
}
footer .contact .box-footer-four ul i:hover {
  color: gray;
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  footer {
    display: block;
  }
  footer form #l2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer form #l1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer form #message {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer form button {
    margin-bottom: 20px;
    margin-left: 10px;
  }
  footer .contact .box-footer-one {
    display: block;
    height: 80px;
  }
  footer .contact .box-footer-one h4 {
    margin-top: 10px;
  }
  footer .contact .box-footer-one p {
    margin-top: 20px;
  }
  footer .contact .box-footer-two {
    display: block;
    height: 80px;
  }
  footer .contact .box-footer-two h4 {
    margin-top: 10px;
  }
  footer .contact .box-footer-two p {
    margin-top: 20px;
  }
  footer .contact .box-footer-three {
    display: block;
    height: 80px;
  }
  footer .contact .box-footer-three h4 {
    margin-top: 10px;
  }
  footer .contact .box-footer-three p {
    margin-top: 20px;
  }
  footer .contact .box-footer-four {
    display: block;
    height: 80px;
  }
  footer .contact .box-footer-four h4 {
    margin-top: 10px;
  }
  footer .contact .box-footer-four ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  footer .contact .box-footer-four ul li {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=index.css.map */